/*--------FONT STYLES--------*/
/* These are the fonts we wanna use */
body 
{
    font-family: 'Open Sans', 'Roboto', serif;
    font-size: 1.5em;
    background-color: #252525;
}

/*--------CONTAINER---------*/

/* Resets bootstraps default container fluid padding */
.container-fluid
{
    padding-left: 0%;
    padding-right: 0%;
}

/*----------HEADER----------*/

/* This is gonna look fancy */
.logo
{
    padding-top: 30%;
    padding-bottom: 20%;
    background-image: url(/images/home/home_showcase.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    color: black;
}

.logo h1
{
    font-size: 2em;
    position: relative;
    top: 30%;
    margin-left: 30%;
    float: left;
    color: white;
    text-shadow: 2px 2px #000001;
    
}

/*--------NAVIGATION-------*/

/* Base styles the navigation bar */
nav
{
    background: #131313;
    color: #8f8f8f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: fixed;
    width: 100%;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #1f1f1f;
    
}

/* Size for name */
.navbarname
{
    margin-left: 5%;
    margin-right: 0%;
    padding-right: 1%;
    padding-top: 0.3%;
}

/* Name on navbar */
.navbarname a
{
    padding-top: 0%;
    margin-bottom: 0%;
    text-decoration: none;
    color: #8f8f8f;
}

.navbarname a:hover
{
    color: #00fffc;
    text-decoration: none;
}

/* Navbar List */
.navbar
{
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 50%;
    padding-right: 0%;
    margin-right: 0%;
    display: block;
    
}

/* Remove the bullet points */
ul
{
    list-style-type: none; 
    word-spacing: 1rem;
    padding-left: 0%;
    margin-bottom: 1%;
}

/* li = List as an element */
li
{
    display: inline;
}

/* Highlight the current page on the list */
.active
{
    color: #00fffc;
}

/* List Before Hover */
li a
{
    color: #8f8f8f;
    text-decoration: none;
/*    padding-right: 100%;    */
/*    padding-left: 10%;*/
/*    padding-bottom: 10%;*/
}

/* List Hover/After */
li a:hover
{
    color: #00fffc;
    text-decoration: none;
}

/* Hide the list so that the text can hide away in the navburger menu */
.navbar a
{
    display: none;
}

.navbar a.icon
{
    float: right;
    display: block;
    margin-right: 10%;
    color:aliceblue;
}

/* This class is added to the navbar when it is clicked via JS, displaying the links vertically */
.navbar.responsive 
{
    position: relative;
}

.navbar.responsive a.icon
{
    float: right;
    
}

.navbar.responsive a
{
    float: none;
    display: block;
    text-align: left;
}

/*--------LAYOUT--------*/

/* About Me */
.aboutme
{    
    border-top-width: thin;
    border-top-style: solid;
    border-top-color: #1f1f1f;
    background-color: #252525;
    color: #8f8f8f;
}

.aboutme h2
{
    margin-left: 5%;
}

.aboutme p
{
    margin-left: 1%;
    margin-right: 1%;
}

/* Feature Boxes */

/* Left */
.featurebox1
{
    background-color: #363636;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #1f1f1f;
    border-top-width: thin;
    border-top-style: solid;
    border-top-color: #1f1f1f;
}

/* Change Colour when an image is highlighted */

/* List Before Hover */
.featurebox1 a
{
    color: #8f8f8f;
    text-decoration: none;
}
    
/* List Hover/After */
.featurebox1 a:hover
{
    color: #00fffc;
    text-decoration: none;
}

.featurebox1.hovered a
{
    color: #00fffc;
}

.fblimage
{
    margin-top: 2%;
    margin-left: 40%;    
}

.fbltitle
{
    margin-left: 17px;
    color: #8f8f8f;
    text-align: left;
}

.fbltext
{
    color: #8f8f8f;
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}

.fbltext p
{
    margin-bottom: 0%;
}

/* Right */

.featurebox2
{
    background-color: #252525;
}

/* List Before Hover */
.featurebox2 a
{
    color: #8f8f8f;
    text-decoration: none;
}

.featurebox2.hovered a
{
    color: #00fffc;
}

/* List Hover/After */
.featurebox2 a:hover
{
    color: #00fffc;
    text-decoration: none;
}

.fbrimage
{
    margin-top: 2%;
    margin-left: 40%
}

.fbrtitle
{
    margin-left: 17px;
    color: #8f8f8f;
    text-align: left;
}

.fbrtext
{
    color: #8f8f8f;
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%
}

.fbrtext p
{
    margin-bottom: 0%;
}

.fbrtext h2
{
    margin-left: 5%;
}

/* Copyright Footer */
footer
{
    text-align: center;
    background-color: white;
    color: black;  
    position: absolute;
    width: 100%;
    bottom: 0p;
}

footer p
{
    margin: 1%;
}

/*--------MEDIA--------*/

/* Rounded Content Box */
.contentbox
{
    background: #363636;
    color: #8f8f8f;
    padding-top: 4%;
    padding-bottom: 4%;
}

.contentborder
{
    background: #252525;
    border-radius: 5px;
    border-width: thin;
    border-style: solid;
    border-color: #1f1f1f;
    width: 75%;
    margin-left: 12%;    
}

.contentbox h2
{
    margin-left: 5%;
    margin-bottom: .2rem;
}

/* About that Bootstrap Slideshow I owe'd ya */
.slideshowdesc
{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
}

/*----MEDIA QUERIES----*/


/* Leave Mobile Mode */
@media screen and (min-width: 848px)
{
    /* Navbar Stuff */
    
    /* Brings back the Nav Bar for Desktop Users */
    .navbar a
    {
        display: block
    }
    
    /* The navburger needs to go... */
    .navbar a.icon
    {
        display: none;
    }
    
    /* Base styles the navigation bar */
    nav
    {
        background: #131313;
        color: #8f8f8f;
        z-index: 100;
        position: fixed;
        width: 100%;
        border-bottom-width: thin;
        border-bottom-style: solid;
        border-bottom-color: #1f1f1f;
    }

    /* Size for name */
    .navbarname
    {
        margin-left: 5%;
        margin-right: 0%;
        padding-right: 1%;
        padding-top: 0.3%;
        width: 20%;
    }
    
    /* Name on navbar */
    .navbarname p
    {
        padding-top: 0%;
        margin-bottom: 0%;
    }

    /* Navbar List */
    .navbar
    {
        padding-top: 0%;
        padding-bottom: 0%;
        padding-left: 0%;
        padding-right: 10%;
        float: right;
    }
    
    .navbar a
    {
        display: inline;
    }
    
    .navbar.responsive li a
    {
        display: inline;
    }

    /* li = List as an element */
    li
    {
        display: inline;
    }

    /* List Before Hover */
    li a
    {
        color: #8f8f8f;
        text-decoration: none;
    }

    /* List Hover/After */
    li a:hover
    {
        color: #00fffc;
        text-decoration: none;
    }
    
    /* Hide's the navburger icon from plain sight */ 
    .navbar .icon
    {
        display: none;
    }
    
    /* Meanwhile, in the container... */
    
    /* Center the logo text */
    .logo h1
    {
        margin-left: 40%;
        font-size: 2em;
    }
    
    /* Align the text with the boxes below */
    .aboutme h2
    {
        margin-left: 170px;
    }

    
    /* Make images left to right, side by side with text */
    .fblimage
    {
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 2%;
        padding-top 1%;
        padding-bottom: 1%;
        float: left;
    }

    .fblt h2
    {
        text-align: left;
        margin-left: 170px;
    }
        /* Now for the right side */
        .fbrimage
    {
        margin-right: 1%;
        margin-left: 1%;
        margin-top: 2%;
        float: right;
    }
    
    .fbrtext h2
    {
        text-align: right;
        margin-right: 170px;
    }
    
    /* Its me Gamer's, CSS from Black Mesa */
    .pagename h2
    {
        margin-left: 70px;
        margin-top: 5px;
    }

    .fbltitle
    {
        margin-left: 170px;
        text-align: left;
    }
    
    .fbrtitle
    {
        margin-right: 170px;
        text-align: right;
    }
    
    .slideshow
    {
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* Image Scaling 01 */
@media screen and (min-width: 1316px)
{    
    .fbltext
    {
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 
    }
    
    .fbrtext
    {
        margin-bottom: 1%;
    }
    
    /* More scaling UGHH */
    .pagename h2
    {
        margin-left: 170px;
    }

    .logo h1
    {
        margin-left: 40%;
        font-size: 3em;
    }
    
/* Image Scaling 02 */
@media screen and (min-width: 1877px)
{
    .fbltext
    {
        padding-bottom: 3%;
    }
    
    .fbrtext
    {
        margin-bottom: 3%;
    }
}

/* Logo Image Fit */
@media screen and (min-width: 1918px)
{
    .logo
    {
        padding-bottom: 21%;
    }
}

/* Image Scaling 03 */
@media screen and (min-width: 1918px)
{
    .fbltext
    {
        padding-bottom: 4%;
    }
    
    .fbrtext
    {
        padding-bottom: 4%
    }
}